@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* HEADER NAV */
  header .nav_pc {display: none;}
  header .btn_mo {display: block;}

  /* CAREER SECTION */
  .career .section_wrap p span {display: block; padding-left: 0; line-height: 1;}

  /* PROJECT SECTION */
  .project .section_wrap .project_list .project_box {width: 45%;}
  .project .section_wrap .project_list .project_box:nth-child(2n) {margin-right: 0;}
  .project .section_wrap .project_list .project_box img {height: 23vw;}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* HEADER NAV */
  header .nav_pc {display: none;}
  header .btn_mo {display: block;}

}

@media screen and (max-width: 320px) {
    /* HEADER NAV */
    header .nav_pc {display: none;}
    header .btn_mo {display: block;}
}

