@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Aldrich);

/* reset */
* {margin: 0; padding: 0;}
ul,ol,li {list-style: none;}
a {outline: 0; text-decoration: none;}
body {width: 100%; overflow-x: hidden; font-family: 'NanumSquare', sans-serif;}
button {cursor: pointer;}

/* common */
.wrap {width: 100%; height: 100%;}
section h1 {text-align: center; padding: 5% 0; font-size: 5vw;}
section div.section_wrap {padding: 5% 10%; overflow: hidden;}

/* header */
header {position: fixed; overflow: hidden; width: 100%; z-index: 9999;}
header .nav_pc {width: 1000px; height: 80px; margin: auto;}
header .nav_pc ul li {float: left; width: 25%; padding: 3% 0 0; font-size: 1.4em; font-weight: 600; cursor: pointer; text-align: center; line-height: 2;}
header .nav_pc ul li a {color: #000;}

header .nav_mo {position: fixed; top: 0; left: -300px; z-index: 400; overflow: auto; width: 300px; height: 100%; box-sizing: border-box; transition: left .3s ease-in-out; background:rgba(255,255,255,0.5);}
header .nav_mo ul {margin-top: 100px;}
header .nav_mo ul li {padding: 8% 6%;}
header .nav_mo ul li a {color: #000; font-size: 2rem;}

header .btn_mo_wrap {position: fixed; z-index: 500;}
header .btn_mo, header .btn_mo > span {display: inline-block; box-sizing: border-box; transition : all .4s;}
header .btn_mo {display: none; position: relative; width: 48px; height: 46px; margin: 25px 0 20px 20px;}
header .btn_mo > span {position: absolute; width: 100%; height: 6px; background-color: #000; border-radius: 4px;}
header .btn_mo > span:nth-of-type(1) {top: 0;}
header .btn_mo > span:nth-of-type(2) {top: 20px;}
header .btn_mo > span:nth-of-type(3) {bottom: 0;}
header .btn_mo.active > span:nth-of-type(1) {-webkit-transform: translateY(20px) rotate(-45deg); transform: translateY(20px) rotate(-45deg);;}
header .btn_mo.active > span:nth-of-type(2) {opacity: 0;}
header .btn_mo.active > span:nth-of-type(3) {-webkit-transform: translateY(-20px) rotate(45deg); transform: translateY(-20px) rotate(45deg);}



/* intro */
.intro {background: url(../images/index.jpg) no-repeat center; background-size: 100% 100%;}
.intro .section_wrap {color: #fff; opacity: .6; padding: 23% 5%;}
.intro .section_wrap p {line-height: 2; font-size: 2vw; opacity: .6;}
.intro .section_wrap h1 {text-align: left; padding: 0; font-size: 6.5vw;}



/* about me */
.about_me {background: #fff;}
.about_me .section_wrap {padding-bottom: 10%;}
.about_me .section_wrap .box {float: left;}
.about_me .section_wrap div.box:first-of-type {width: 45%;}
.about_me .section_wrap div.box:first-of-type img {display: block; border-radius: 100%; width: 90%; margin-top: 12%;}
.about_me .section_wrap div.box:last-of-type {padding: 2% 0 0 5%; width: 50%;}
.about_me .section_wrap div.box:last-of-type p.name {font-size: 5.5vw; letter-spacing: 10px;}
.about_me .section_wrap div.box:last-of-type p.job {font-size: 1.7vw; letter-spacing: 1px; line-height: 1.5; background-color: #ffd52c; color: #fff; width: 93%; padding: 0 2%; margin-top: 1.5%;}
.about_me .section_wrap div.box:last-of-type ul {float: left; padding-top: 5%; color: #3a3a3a; width: 67%; font-size: 1.7vw;}
.about_me .section_wrap div.box:last-of-type ul li {line-height: 2;}
.about_me .section_wrap div.box:last-of-type ul:first-of-type {color: #b5b5b5; padding-right: 5%; text-indent: 8px; width: 28%;}
.about_me .section_wrap div.box:last-of-type .introduce {clear: both; padding: 5px 0 0 10px; line-height: 1.6; font-size: 1.5vw;}



/* career */
.career {background: #e5e5e5;}
.career .section_wrap .c_list {clear: both; width: 100%; font-size: 2.2vw;}
.career .section_wrap .c_list li {position: relative; padding-bottom: 5%;}
.career .section_wrap .c_list li .date {float: right; font-size: 1.8vw; color: #4f4f4f; line-height: 1.5;}
.career .section_wrap .c_list li strong {float: left; line-height: 1.5;}
.career .section_wrap .c_list li sub {width: 100%; padding: 0.8% 0 1% 0; font-size: 1.5vw; color: #999;}
.career .section_wrap .c_list li sub::before {content: ''; margin: 0 1% 0 1%; border-left: 1px solid #999; font-size: 0.8rem;}
.career .section_wrap .c_list li:last-child sub::before {border: none;}
.career .section_wrap .c_list li .text {display: block; clear: both; font-size: 1.8vw; padding-top: 1%;}



/* skill */
.skill {background: #fff;}
.skill .section_wrap div {overflow: hidden;}
.skill .section_wrap div h2 {font-size: 3.2vw;}
.skill .section_wrap div h2::before {content: ''; display: inline-block; width: 1%; height: 2.2vw; background-color: #ffde5c; margin-right: 2%;}
.skill .section_wrap div .skill_list {padding: 5% 2% 7%; text-align: center; float: left; width: 21%;}
.skill .section_wrap div .skill_list p:nth-of-type(1) {font-size: 2vw; line-height: 2.2; font-weight: 600;}
.skill .section_wrap div .skill_list p:nth-of-type(2) {line-height: 1.5; font-size: 1.2vw; color: #828282;}
.skill .section_wrap div .skill_list img {display: block; height: 85px; margin: auto;}



/* project */
.project {background: #ffde5c;}
.project .section_wrap .tab_menu ul {overflow: hidden; text-align: center;}
.project .section_wrap .tab_menu ul li {display: inline-block; border: 1px solid #4f4f4f; margin-right: 1.2%;}
.project .section_wrap .tab_menu ul li a {color: #4f4f4f; padding: 7px 15px; display: block;}
.project .section_wrap .tab_menu ul li a.on {background-color: #ffc31a; font-weight: bold; color: #000;}

.project .section_wrap .project_list {overflow: hidden; margin: 7% 0 10%;}
.project .section_wrap .project_list .project_box {display: none; width: 30%; background-color: #fff; float: left; margin: 5% 0 0 3%;}
.project .section_wrap .project_list .project_box:nth-child(3n) {margin-right: 0;}
.project .section_wrap .project_list .project_box img {display: block; height: 15vw; width: 100%;}
.project .section_wrap .project_list .project_box p {text-align: center; padding: 5% 5% 2%; font-size: 1.5vw; font-weight: 600; min-height: 5vw; line-height: 1.3;}
.project .section_wrap .project_list .project_box .btn_box {width: 55px; margin: auto; padding-bottom: 5%; overflow: hidden;}
.project .section_wrap .project_list .project_box .btn_box button {float: left; border-radius: 100%; padding: 5px; border: 0; margin-right: 7px; background: #e8e8e8;}
.project .section_wrap .project_list .project_box .btn_box button i {color: #bbb; font-size: 1em;}
.project .section_wrap .project_list .project_box .btn_box button:last-of-type {margin-right: 0;}

.project .section_wrap .more_box {width:100%;}
.project .section_wrap .more_box .more {display: block; padding: 1.5%; width: 18%; border-radius: 50px; margin: auto; color: #333; background: none; border: 1px solid #333;}
.project .section_wrap .more_box .more i {color: #333; padding-right: 8%; font-size: 1.1vw;}



/* top */
.top {position: fixed; bottom: 25px; right: 25px;}
.top i {font-size: 4vw; color: #000; opacity: .7;}


/* footer */
footer {background: #303030;}
footer p {color: #fff; text-align: center; line-height: 1.2; padding: 2% 0;}